<footer class="footer">
  <span class="wordmark-white"></span>


  <div class="dropdown-container style-scope c-corporate-footer">
    <nav class="footer-links style-scope c-corporate-footer" id="navbar">

    </nav>
    <a href="#" class="btn btn-lg-center-block hidden-md hidden-lg style-scope c-corporate-footer" data-toggle="dropdown" data-target="#navbar">
      SMARTBEAR
      <span class="icon-caret-up style-scope c-corporate-footer"></span>
    </a>
  </div>
  <p class="footer-copy-text style-scope c-corporate-footer">
    <span class="style-scope c-corporate-footer">©</span> Copyright SMARTBEAR 2017 All rights reserved.
  </p>
</footer>
